#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# provider file containing subscriptionId and (potentially) secrets
provider.tf

# backend file containing storage account key
backend.tf